<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>

        <style>
            img {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 150px;
            }
        </style>
    </head>
    <body>
        <header><img src='/img/logo.png' alt='Meadowlark Travel Logo'></header>
        {{{body}}}
    </body>
</html>
